<div class="center jumbotron">
  <h1>Welcome to BugTrackr</h1>

  <h2>
    At BugTrackr.com we provide the most decentest way to track bugs. Users can start reporting bugs in seconds. 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
