<footer class="footer">
  <small>
   The bestest BugTrackr in teh worlds</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "This be the footer",   about_path %></li>
     
    </ul>
  </nav>
</footer>